<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">How to contact me ?</h5>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <a class="btn btn-outline-light btn-social text-center" href="mailto:bharathjinka09@gmail.com" target="__blank"
            style="background-color: #0077B5;">
            <i class="fa fa-fw fa-envelope"></i>
        </a>
        <a class="btn btn-outline-light btn-social text-center"
            href="https://api.whatsapp.com/send?phone=919110334114&text=Hi%20Bharath%20" target="__blank"
            style="background-color: lightgreen; color:white;">
            <i class="fa fa-fw fa-whatsapp"></i>
        </a>

    </div>
</div>