<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Jinka Ranga Bharath</h5>
        <a class="btn btn-outline-light btn-social text-center rounded-circle"
            href="https://www.linkedin.com/in/rangabharath-jinka-7b56a8107/" target="__blank"
            style="background-color: #0077B5;">
            <i class="fa fa-fw fa-linkedin"></i>
        </a>
        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://github.com/bharathjinka09"
            target="__blank" style="background-color: #000;">
            <i class="fa fa-fw fa-github"></i>
        </a>
        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://bharathjinka09.github.io"
            target="__blank" style="background-color: skyblue;">
            <i class="fa fa-fw fa-globe"></i>
        </a>
    </div>
</div>