<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Jinka Ranga Bharath</h5>
        <a class="btn btn-outline-light btn-social text-center rounded-circle"
            href="https://m.facebook.com/jinka.rangabharath" target="__blank" style="background-color: #4267b2;">
            <i class="fa fa-fw fa-facebook"></i>
        </a>
        <p class="card-text">Email</p>
        <a href="mailto:bharathjinka09@gmail.com" class="card-link">bharathjinka09@gmail.com</a>
        <p class="card-text">Whatsapp</p>
        <a href="https://api.whatsapp.com/send?phone=919110334114&text=Hi%20Bharath%20" class="card-link">+91
            9110334114</a>
    </div>
</div>