<div class="card" style="width: 18rem;">
    <div class="card-body">
        <img width="200" class="img-fluid mb-5 d-block mx-auto" src="https://bharathjinka09.github.io/img/bharath.png" alt="bharath" />
        <h5 class="card-title">Jinka Ranga Bharath</h5>
        <a class="btn btn-outline-light btn-social text-center"
            href="https://www.linkedin.com/in/ranga-bharath-jinka-7b56a8107/" target="__blank"
            style="background-color: #0077B5;">
            <i class="fa fa-fw fa-linkedin"></i>
        </a>
        <a class="btn btn-outline-light btn-social text-center" href="https://github.com/bharathjinka09"
            target="__blank" style="background-color: #000;">
            <i class="fa fa-fw fa-github"></i>
        </a>
        <a class="btn btn-outline-light btn-social text-center" href="https://bharathjinka09.github.io"
            target="__blank" style="background-color: skyblue;">
            <i class="fa fa-fw fa-globe"></i>
        </a>
    </div>
</div>
